body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.to-do {
  flex: 0 0 70vw;
  width: 100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 0 !important;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  margin-right: 0px !important; /* Attempting overrite of _grid.scss line 24 */
  margin-left: 0px !important;  /* Attempting overrite of _grid.scss line 24 */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  cursor: pointer;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.material-icons-round {
  font-size: 48px;
}

.container {
  display: flex;
  /*height: 32px;*/
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-evenly;
}

.saveBtn, .hour {
  flex: 0 0 10vw;
  justify-content: center;
  align-items: center;
}

.text-box {
  display: inline;
  box-sizing: border-box;
  width: inherit;
  font-size: 18px;
}

/*
.toast-container {
  justify-content: center;
  text-align: center;
  align-items: center;
}
*/

.save-toast {
  background-color: #fff44f;
  color: #342e37;
  width: fit-content;
}